<div>


<script type="text/template" id="view-lib">
	<div id="library">
	</div><!-- /#library -->
</script><!-- /#view-lib -->

<script type="text/template" id="gal-block">
	<div class="image-block" >
		<a href="" data-lightbox="" class="gal-lb"><img class="library-image" data-imgId="" src="" alt="library image"/></a>
	</div><!-- /.image-block-->
</script><!-- /#gal-block -->

<script type="text/template" id="add-media">
	<div class="upload-container">
		<h2>Upload images to include in your blog posts</h2>
			<form action="?action=file-upload" method="post" id="file-form">
				<input type="file" accept="image/jpg, image/jpeg, image/png"/>
				<input type="submit" value="upload" />
			</form>
		<p>.png .jpg .jpeg are accepted file formats</p>
	</div><!-- /.upload-container-->
</script><!-- /#add-media -->




</div>